@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.mobile-header {
  display: block;
  padding: 1rem 0;
  background-color: black;
}
.mobile-header .mobileheader-upside {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.mobile-header .mobileheader-upside .menubutton {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.mobile-header .mobileheader-upside .mobileheader-logobox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-header .mobileheader-upside .mobileheader-logobox a {
  height: 50px;
}
.mobile-header .mobileheader-upside .mobileheader-logobox a img {
  height: 100%;
}
.mobile-header .mobileheader-downside {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.mobile-header .mobileheader-downside .mobileheader-button {
  width: 45px;
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #323232;
  box-shadow: none;
  border-radius: 3px;
}
.mobile-header .mobileheader-downside .cart {
  height: 45px;
  display: flex;
  border: 1px solid #323232;
  box-shadow: none;
  border-radius: 3px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  position: relative;
}
.mobile-header .mobileheader-downside .cart .countbox {
  position: absolute;
  left: 0;
  transform: translate(-50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #cbba9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-header .mobileheader-downside .cart .countbox .count {
  color: #fff;
  line-height: 26px;
  font-size: 12px;
}
.mobile-header .mobileheader-downside .cart .cartbuttondiv {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0;
  border-right: 1px solid #323232;
}
.mobile-header .mobileheader-downside .cart .totalprice {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  margin-left: 0.8rem;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
}

.tablet-header {
  padding: 1rem 0;
  display: none;
  background-color: black;
}
.tablet-header .tabletheadercontainer {
  display: flex;
  justify-content: space-between;
}
.tablet-header .tabletheadercontainer .tabletheader-left {
  display: flex;
  gap: 1rem;
}
.tablet-header .tabletheadercontainer .tabletheader-left .menubutton {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.tablet-header .tabletheadercontainer .tabletheader-left .mobileheader-logobox {
  display: flex;
  align-items: center;
}
.tablet-header .tabletheadercontainer .tabletheader-left .mobileheader-logobox a {
  height: 50px;
}
.tablet-header .tabletheadercontainer .tabletheader-left .mobileheader-logobox a img {
  height: 100%;
}
.tablet-header .tabletheadercontainer .tabletheader-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tablet-header .tabletheadercontainer .tabletheader-right .mobileheader-button {
  width: 45px;
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #323232;
  box-shadow: none;
  border-radius: 3px;
}
.tablet-header .tabletheadercontainer .tabletheader-right .cart {
  height: 45px;
  display: flex;
  border: 1px solid #323232;
  box-shadow: none;
  border-radius: 3px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  position: relative;
}
.tablet-header .tabletheadercontainer .tabletheader-right .cart .countbox {
  position: absolute;
  left: 0;
  transform: translate(-50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #cbba9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablet-header .tabletheadercontainer .tabletheader-right .cart .countbox .count {
  color: #fff;
  line-height: 26px;
  font-size: 12px;
}
.tablet-header .tabletheadercontainer .tabletheader-right .cart .cartbuttondiv {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0;
  border-right: 1px solid #323232;
}
.tablet-header .tabletheadercontainer .tabletheader-right .cart .totalprice {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  margin-left: 0.8rem;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
}

.desktop-header {
  display: none;
  padding: 2rem 0;
  background-color: black;
}
.desktop-header .desktopheadercontainer {
  display: flex;
  justify-content: space-between;
}
.desktop-header .desktopheadercontainer .main-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.desktop-header .desktopheadercontainer .main-menu .main-page {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-family: inherit;
  transition: 0.2s linear;
}
.desktop-header .desktopheadercontainer .main-menu .main-page:hover {
  color: #cbba9c;
}
.desktop-header .desktopheadercontainer .main-menu .main-page .sub-menu {
  display: none;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub {
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-family: inherit;
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub .mainpagesub-item {
  color: white;
  transition: 0.2s linear;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub .sub-menu {
  padding: 1rem 0;
  height: 300px;
  background-color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-top: 421px;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub .sub-menu .altpages {
  padding: 0 5rem 0 2rem;
  font-size: 16px;
  transition: 0.2s linear;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub .sub-menu .altpages:hover {
  color: #cbba9c;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub:hover .mainpagesub-item {
  color: #cbba9c;
}
.desktop-header .desktopheadercontainer .main-menu .mainpage-sub:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.desktop-header .desktopheadercontainer .desktopheader-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.desktop-header .desktopheadercontainer .desktopheader-right .mobileheader-button {
  width: 45px;
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #323232;
  box-shadow: none;
  border-radius: 3px;
}
.desktop-header .desktopheadercontainer .desktopheader-right .cart {
  height: 45px;
  display: flex;
  border: 1px solid #323232;
  box-shadow: none;
  border-radius: 3px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  position: relative;
}
.desktop-header .desktopheadercontainer .desktopheader-right .cart .countbox {
  position: absolute;
  left: 0;
  transform: translate(-50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #cbba9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-header .desktopheadercontainer .desktopheader-right .cart .countbox .count {
  color: #fff;
  line-height: 26px;
  font-size: 12px;
}
.desktop-header .desktopheadercontainer .desktopheader-right .cart .cartbuttondiv {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0;
  border-right: 1px solid #323232;
}
.desktop-header .desktopheadercontainer .desktopheader-right .cart .totalprice {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  margin-left: 0.8rem;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
}

.menucontainer {
  width: 90%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
}
.menucontainer .menucontainerupper {
  padding: 1rem 1rem 0 1rem;
}
.menucontainer .menucontainerupper .menuCloseButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #323232;
  background-color: transparent;
}
.menucontainer .menucontainerupper .menuCloseButton img {
  width: 75%;
  height: 75%;
}
.menucontainer .menucontainerupper nav .menulist {
  margin-top: 1rem;
}
.menucontainer .menucontainerupper nav .menulist .menubox {
  padding: 8px 24px;
  color: white;
}
.menucontainer .menucontainerupper nav .menulist .menubox:hover {
  background-color: #0e0e0e;
}
.menucontainer .menucontainerupper nav .menulist .menubox a {
  font-size: 1.4rem;
}
.menucontainer .menucontainerupper nav .menulist .pagebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menucontainer .menucontainerupper nav .menulist .pagebox .pageword {
  font-size: 1.4rem;
}
.menucontainer .menucontainerupper nav .pagelist {
  margin-top: 1rem;
}
.menucontainer .menucontainerupper nav .pagelist .pagebox {
  padding: 8px 12px;
  color: white;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.menucontainer .menucontainerupper nav .pagelist .pagebox:hover {
  background-color: #0e0e0e;
}
.menucontainer .menucontainerupper nav .pagelist .pagebox .pageword {
  font-size: 1.4rem;
}
.menucontainer .menucontainerupper nav .pagelist .pagelistbox {
  color: white;
  padding: 8px 24px;
}
.menucontainer .menucontainerupper nav .pagelist .pagelistbox:hover {
  background-color: #0e0e0e;
}
.menucontainer .menucontainerupper nav .pagelist .pagelistbox a {
  font-size: 1rem;
  width: 100%;
}
.menucontainer .menucontainerbelow {
  margin-top: 1rem;
  padding: 2rem 0 2rem 1rem;
  background-color: #0e0e0e;
}
.menucontainer .menucontainerbelow a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menucontainer .menucontainerbelow img {
  width: 20px;
  height: 20px;
}

.searchsection {
  position: absolute;
  top: 0;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 143px;
}
.searchsection .searchcontainer {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchsection .searchcontainer .inputcontainer {
  width: 92%;
  height: 100%;
  position: relative;
}
.searchsection .searchcontainer .inputcontainer input {
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  color: #fff;
}
.searchsection .searchcontainer .inputcontainer button {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 0;
  top: 0;
  margin-top: 4px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchsection .searchcontainer .searchCloseButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeslidesection #slidecontainer #slideinfocontainer .eachslide {
  position: relative;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8%;
  margin-left: 8%;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo .discountinfo {
  color: white;
  font-size: 12px;
  font-weight: 300;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo .slidehead {
  color: white;
  font-size: 40px;
  width: 600px;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo .slideinfo {
  color: #cbba9c;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  width: 500px;
  margin-bottom: 30px;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo .pricetext {
  color: #777;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo .pricetext .price {
  color: #cbba9c;
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 8px;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo a {
  font-size: 16px;
  line-height: 46px;
  color: white;
  font-weight: 500;
  padding: 10px 35px;
  border: 2px solid #cbba9c;
  border-radius: 3px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.homeslidesection #slidecontainer #slideinfocontainer .eachslide .eachslideinfo a:hover {
  color: #fff;
  background-color: #cbba9c;
  border: 2px solid #cbba9c;
}
.homeslidesection .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 1;
  background-color: #474747;
  cursor: pointer;
}
.homeslidesection .swiper-pagination-bullet-active {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #cbba9c;
  transition: border-radius 0.2s ease, width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}

.productcategorysection {
  padding: 4rem 0;
}
.productcategorysection p {
  text-align: center;
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
}
.productcategorysection h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: 700;
  margin-top: 1rem;
}
.productcategorysection h1 span {
  color: #cbba9c;
}
.productcategorysection .category-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productcategorysection .category-container .categorycontainer-selection .eachcategory {
  cursor: pointer;
  width: 140px;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 20px;
  border-bottom: 2px solid black;
  color: black;
  transition: 0.2s ease;
}
.productcategorysection .category-container .categorycontainer-selection .eachcategory:hover {
  color: #cbba9c;
  border-bottom: 2px solid #9F7A49;
}
.productcategorysection .result-container {
  margin-top: 4rem;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct {
  height: 540px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  position: relative;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct:hover {
  border: 2px solid #cbba9c;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct:hover .productfunctions {
  transform: translateY(-80px);
  opacity: 1;
  visibility: visible;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .imgbox {
  height: 70%;
  width: 100%;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .imgbox img {
  width: 100%;
  height: 100%;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox h3 a {
  color: #000;
  text-decoration: none;
  transition: 0.2s ease;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox h3 a:hover {
  color: #cbba9c;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox .productfeatures {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbba9c;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox .productfeatures .ratingcon {
  display: flex;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox .productfeatures .pricebox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox .productfeatures .pricebox .disocuntedprice {
  font-size: 1.4rem;
  font-weight: 600;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productinfobox .productfeatures .pricebox .oldprice {
  color: #d9d9d9;
  font-weight: 300;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions {
  display: flex;
  align-items: center;
  position: absolute;
  left: 32%;
  bottom: 48px;
  gap: 8px;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #cbba9c;
  transition: all 0.3s ease;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions a .iconbox {
  width: 75%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions a .iconbox i {
  color: #000;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions a:hover {
  background-color: #cbba9c;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions a:hover .iconbox {
  border: 2px solid white;
}
.productcategorysection .result-container .eachcategory-productcontainer .eachproduct .productfunctions a:hover .iconbox i {
  color: #fff;
}

.mirt {
  width: 100%;
  height: 100px;
  background-color: black;
}

.numberdialsection {
  padding: 4rem 0;
}
.numberdialsection p {
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
}
.numberdialsection h1 {
  text-align: center;
  color: #cbba9c;
  font-size: 40px;
  font-weight: 700;
  margin-top: 1rem;
}
.numberdialsection h1 span {
  color: black;
}
.numberdialsection .numberDialSwiper {
  margin-top: 5rem;
}
.numberdialsection .numberDialSwiper .swiper-wrapper {
  padding-bottom: 5rem;
}
.numberdialsection .numberDialSwiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
}
.numberdialsection .numberDialSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  background-color: #7f7f7f;
  cursor: pointer;
}
.numberdialsection .numberDialSwiper .swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #cbba9c;
  transition: border-radius 0.2s ease, width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 95%;
  }
  .mobile-header {
    display: none;
  }
  .tablet-header {
    display: block;
  }
  .desktop-header {
    display: none;
  }
  .menucontainer {
    width: 50%;
  }
  .searchsection {
    padding: 20px 0;
    height: 82px;
  }
  .productcategorysection .category-container .categorycontainer-selection {
    display: flex;
    gap: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
  .mobile-header {
    display: none;
  }
  .tablet-header {
    display: none;
  }
  .desktop-header {
    display: block;
  }
  .searchsection {
    padding: 40px 0;
    height: 121px;
  }
  .searchsection .searchcontainer {
    width: 50%;
  }
}/*# sourceMappingURL=homepage.css.map */