@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins",sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
}

a{
    //color: white;
    text-decoration: none;
}

body{
    position: relative;
}

.mobile-header{
    display: block;
    padding: 1rem 0;
    background-color: black;
    .mobileheader-upside{
        display: flex;
        justify-content: center;
        gap: 2rem;

        .menubutton{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
        }

        .mobileheader-logobox{
            display: flex;
            justify-content: center;
            align-items: center;
           
            a{
                height: 50px;
                img{
                    height: 100%;
                }
            }
        }
    }
    
    .mobileheader-downside{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;

        .mobileheader-button{
            width: 45px;
            background-color: transparent;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #323232;
            box-shadow: none;
            border-radius: 3px;
        }

        .cart{
            height: 45px;
            display: flex;
            border: 1px solid #323232;
            box-shadow: none;
            border-radius: 3px;
            background-color: transparent;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            position: relative;

            .countbox{
                position: absolute;
                left: 0;
                transform: translate(-50%);
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: #cbba9c;
                display: flex;
                align-items: center;
                justify-content: center;

                .count{
                    color: #fff;
                    line-height: 26px;
                    font-size: 12px;
                }
            }

            .cartbuttondiv{
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.5rem 0 0;
                border-right: 1px solid #323232;
            }

            .totalprice{
                display: flex;
                align-items: center;
                gap: 5px;
                color: #fff;
                margin-left: 0.8rem;
                font-weight: 500;
                line-height: 22px;
                font-size: 14px;
            }
        }
    }
}

.tablet-header{
    padding: 1rem 0;
    display: none;
    background-color: black;
    
    .tabletheadercontainer{
        display: flex;
        justify-content: space-between;

        .tabletheader-left{
            display: flex;
            gap: 1rem;
            .menubutton{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: transparent;
            }
    
            .mobileheader-logobox{
                display: flex;
                align-items: center;
               
                a{
                    height: 50px;
                    img{
                        height: 100%;
                    }
                }
            }
        }
        .tabletheader-right{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            
            .mobileheader-button{
                width: 45px;
                background-color: transparent;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #323232;
                box-shadow: none;
                border-radius: 3px;
            }
    
            .cart{
                height: 45px;
                display: flex;
                border: 1px solid #323232;
                box-shadow: none;
                border-radius: 3px;
                background-color: transparent;
                align-items: center;
                justify-content: center;
                padding-left: 1rem;
                position: relative;
    
                .countbox{
                    position: absolute;
                    left: 0;
                    transform: translate(-50%);
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background-color: #cbba9c;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .count{
                        color: #fff;
                        line-height: 26px;
                        font-size: 12px;
                    }
                }
    
                .cartbuttondiv{
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 0.5rem 0 0;
                    border-right: 1px solid #323232;
                }
    
                .totalprice{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #fff;
                    margin-left: 0.8rem;
                    font-weight: 500;
                    line-height: 22px;
                    font-size: 14px;
                }
            }
        }
    }
}

.desktop-header{
    display: none;
    padding: 2rem 0;
    background-color: black;
    .desktopheadercontainer{
        display: flex;
        justify-content: space-between;

        .main-menu{
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .main-page{
                color: #fff;
                font-size: 18px;
                line-height: 25px;
                font-family: inherit;
                transition: 0.2s linear;

                &:hover{
                    color: #cbba9c;
                }

                .sub-menu{
                    display: none;
                }
            }

            .mainpage-sub{
                color: white;
                font-size: 18px;
                line-height: 25px;
                font-family: inherit;
                transition: 0.2s linear;
                display: flex;
                align-items: center;
                gap: 5px;
                position: relative;

                .mainpagesub-item{
                    color: #ffff;
                    transition: 0.2s linear;
                }

                .sub-menu{
                    padding: 1rem 0;
                    height: 300px;
                    background-color: black;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    opacity: 0; /* Initially hidden */
                    visibility: hidden; /* Initially hidden */
                    transition: opacity 0.3s ease, visibility 0.3s ease;

                    margin-top: 421px;

                    .altpages{
                        padding: 0 5rem 0 2rem;
                        font-size: 16px;
                        transition: 0.2s linear;

                        &:hover{
                            color: #cbba9c;
                        }
                    }
                }

                &:hover {

                    .mainpagesub-item{
                        color: #cbba9c;
                    }

                    .sub-menu{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .desktopheader-right{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            
            .mobileheader-button{
                width: 45px;
                background-color: transparent;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #323232;
                box-shadow: none;
                border-radius: 3px;
            }
    
            .cart{
                height: 45px;
                display: flex;
                border: 1px solid #323232;
                box-shadow: none;
                border-radius: 3px;
                background-color: transparent;
                align-items: center;
                justify-content: center;
                padding-left: 1rem;
                position: relative;
    
                .countbox{
                    position: absolute;
                    left: 0;
                    transform: translate(-50%);
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background-color: #cbba9c;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .count{
                        color: #fff;
                        line-height: 26px;
                        font-size: 12px;
                    }
                }
    
                .cartbuttondiv{
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 0.5rem 0 0;
                    border-right: 1px solid #323232;
                }
    
                .totalprice{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #fff;
                    margin-left: 0.8rem;
                    font-weight: 500;
                    line-height: 22px;
                    font-size: 14px;
                }
            }
        }
    }
}

.menucontainer{
    width: 90%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    
    .menucontainerupper{
        padding: 1rem 1rem 0 1rem;
        .menuCloseButton{
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid #323232;
            background-color: transparent;
            img{
                width: 75%;
                height: 75%;
            }
        }
        nav{
            .menulist{
                margin-top: 1rem;
                
                .menubox{
                    padding: 8px 24px;
                    color: #ffff;
                    &:hover{
                        background-color: #0e0e0e;
                    }
                    a{
                        font-size: 1.4rem;
                    }
                }
                .pagebox{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .pageword{
                        font-size: 1.4rem;
                    }
                }
            }
            .pagelist{
                margin-top: 1rem;

                .pagebox{
                    padding: 8px 12px;
                    color: #ffff;
                    display: flex;
                    gap: 1rem;
                    align-items: baseline;

                    &:hover{
                        background-color: #0e0e0e;
                    }

                    .pageword{
                        font-size: 1.4rem;
                    }
                }

                .pagelistbox{
                    color: #ffff;
                    padding: 8px 24px;

                    
                    &:hover{
                        background-color: #0e0e0e;
                    }

                    a{
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
    }
    .menucontainerbelow{
        margin-top: 1rem;
        padding: 2rem 0 2rem 1rem;
        background-color: #0e0e0e;
        
        a{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
}

.searchsection{
    position: absolute;
    top: 0;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 143px;

    .searchcontainer{
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .inputcontainer{
            width: 92%;
            height: 100%;
            position: relative;

            input{
                background-color: transparent;
                border: 1px solid #ffff;
                width: 100%;
                height: 100%;
                padding: 0 0 0 1rem;
                color: #fff;
            }

            button{
                position: absolute;
                height: 35px;
                width: 35px;
                right: 0;
                top: 0;
                margin-top: 4px;
                margin-right: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .searchCloseButton{
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.homeslidesection{
    #slidecontainer{
        #slideinfocontainer{
            .eachslide{
                position: relative;

                .eachslideinfo{
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 8%;
                    margin-left: 8%;

                    .discountinfo{
                        color: #ffff;
                        font-size: 12px;
                        font-weight: 300;
                    }
    
                    .slidehead{
                        color: #ffff;
                        font-size: 40px;
                        width: 600px;
                    }
    
                    .slideinfo{
                        color: #cbba9c;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        width: 500px;
                        margin-bottom: 30px;
                    }
    
                    .pricetext{
                        color: #777;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        margin-bottom: 50px;
    
                        .price{
                            color: #cbba9c;
                            font-size: 30px;
                            line-height: 24px;
                            font-weight: 500;
                            margin-left: 8px;
                        }
                    }

                    a{
                        font-size: 16px;
                        line-height: 46px;
                        color: #ffff;
                        font-weight: 500;
                        padding: 10px 35px;
                        border: 2px solid #cbba9c;
                        border-radius: 3px;
                        transition: all 0.3s ease;
                        text-decoration: none;

                        &:hover{
                            color: #fff;
                            background-color: #cbba9c;
                            border: 2px solid #cbba9c;
                        }
                    }
                }
            }
        }
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        opacity: 1;
        background-color: #474747;
        cursor: pointer;
      }
      .swiper-pagination-bullet-active {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background-color: #cbba9c;
        transition: border-radius 0.2s ease, width 0.2s ease, height 0.2s ease,
        margin 0.2s ease;
      }
}

.productcategorysection{
    padding: 4rem 0;

    p{
        text-align: center;
        color: black; 
        font-size: 16px;
        letter-spacing: 2px;
    }
    h1{
        text-align: center;
        color: black;
        font-size: 40px;
        font-weight: 700;
        margin-top: 1rem;

        span{
            color: #cbba9c;
        }
    }

    .category-container{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
         .categorycontainer-selection{
            .eachcategory{
                cursor: pointer;
                width: 140px;
                padding: 0.5rem 0;
                text-align: center;
                font-weight: 200;
                letter-spacing: 2px;
                font-size: 20px;
                border-bottom: 2px solid black;
                color: black;
                transition: 0.2s ease ;

                &:hover{
                    color: #cbba9c;
                    border-bottom: 2px solid #9F7A49;
                }
            }
         }
    }

    .result-container{
        margin-top: 4rem;
        .eachcategory-productcontainer{
            .eachproduct{
                height: 540px;
                padding-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: transform 0.5s ease, box-shadow 0.5s ease;
                position: relative;

                &:hover{
                    border: 2px solid #cbba9c;
                    transform: translateY(-5px); 
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

                    .productfunctions{
                        transform: translateY(-80px);
                        
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .imgbox{
                    height: 70%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .productinfobox{
                    h3{
                        text-align: center;
                        font-size: 20px;
                        letter-spacing: 2px;

                        a{
                            color: #000;
                            text-decoration: none;
                            transition: 0.2s ease;

                            &:hover{
                                color: #cbba9c;
                            }
                        }
                    }

                    .productfeatures{
                        margin-top: 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #cbba9c;

                        .ratingcon{
                            display: flex;
                        }

                        .pricebox{
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .disocuntedprice{
                                font-size: 1.4rem;
                                font-weight: 600;
                            }

                            .oldprice{
                                color: #d9d9d9;
                                font-weight: 300;
                            }
                        }
                    }
                }

                .productfunctions{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    left: 32%;
                    bottom: 48px;
                    gap: 8px;
                    // transform: translateX(-25%);
                    transition: all 0.5s ease;
                    opacity: 0;
                    visibility: hidden;
                    

                    a{
                        width: 44px;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        background-color: #fff;
                        border: 2px solid #cbba9c;
                        transition: all 0.3s ease;

                        .iconbox{
                            width: 75%;
                            height: 75%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;

                            i{
                                color: #000;
                            }
                        }

                        &:hover{
                            background-color: #cbba9c;

                            .iconbox{
                                border: 2px solid #ffff;

                                i{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mirt{
    width: 100%;
    height: 100px;
    background-color: black;
}

.numberdialsection{
    padding: 4rem 0;
    p{
        color: black; 
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
    }

    h1{
        text-align: center;
        color: #cbba9c;
        font-size: 40px;
        font-weight: 700;
        margin-top: 1rem;

        span{
            color: black;
        }
    }

    .numberDialSwiper{
        margin-top: 5rem;

        .swiper-wrapper{
            padding-bottom: 5rem;

            .swiper-slide{
                display: flex;
                justify-content: center;
            }
        }

        .swiper-pagination{
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                opacity: 1;
                background-color: #7f7f7f;
                cursor: pointer;
              }
              .swiper-pagination-bullet-active {
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: #cbba9c;
                transition: border-radius 0.2s ease, width 0.2s ease, height 0.2s ease,
                margin 0.2s ease;
              }
        }
    }
}

@media only screen and (min-width: 576px) {
    .container{
        width: 95%;
    }
    .mobile-header{
        display: none;
    }

    .tablet-header{
        display: block;
    }

    .desktop-header{
        display: none;
    }
    
    .menucontainer{
        width: 50%;
    }

    .searchsection{
        padding: 20px 0;
        height: 82px;
    }

    .productcategorysection{
        .category-container{
            .categorycontainer-selection{
                display: flex;
                gap: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .container{
        width: 80%;
    }

    .mobile-header{
        display: none;
    }

    .tablet-header{
        display: none;
    }

    .desktop-header{
        display: block;
    }
    
    .searchsection{
        padding: 40px 0;
        height: 121px;

        .searchcontainer{
            width: 50%;
        }
    }
}