@import '../css/main.scss';

.breadcrumbsection{

    .breadcrumbcontainer{
        padding: 8rem 0;
        background-image: url('../image/breadcrumbbackgroundimg/breadcrumbimg.webp');
        width: 100%;
        background-attachment: fixed;
        position: relative;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .breadcrumbinfo{
            h1{
                font-size: 3.2rem;
                font-weight: 700;
                color: #fff;
            }

            p{
                font-size: 1rem;
                color: #fff;
                text-align: center;

                a{
                    transition: 0.3s ease;
                    &:hover{
                        color: #cbba9c;
                    }
                }
            }
        }
    }
}

.detailuppersection{
    padding: 4rem 1rem;
    .img-slidecontainer{
        .imgcontainer{
            width: 100%;
            overflow: hidden; 
            img{
                width: 100%; 
                height: auto; 
                display: block;
            }
        }
    }

    .productinfocontainer{
        margin-top: 2rem;
        .productname{
            font-size: 3rem;
            font-weight: 700;
        }
        .productdescription{
            margin-top: 1rem;
            font-size: 12px;
            letter-spacing: 0.5px;
        }
        .ratingcontainer{
            margin-top: 0.5rem;
            display: flex;
            gap: 1rem;
        }
        .productfeaturescontainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .pricecontainer{
                .productpricecontainer{
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .disocuntedprice{
                        letter-spacing: 0.1rem;
                        font-weight: 700;
                    }

                    .oldprice{
                        color: #d9d9d9;
                        font-weight: 500;
                        font-size: 12px;
                        letter-spacing: 0.1rem;
                    }
                }
            }
            .eachfeature{
                display: flex;
                gap: 2rem;
                align-items: center;

                .featurebox{
                    padding: 0.2rem 0.6rem;
                    border: 1px solid black;
                    letter-spacing: 0.1rem;
                    line-height: 30px;
                }
            }
            .featureleftword{
                font-weight: 500;
                width: 140px;
            }
            .quantitycontainer{
                .inputcontainer{
                    width: 150px;
                    display: flex;
                    
                    button{
                        width: 30%;
                        border: 1px solid black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 0;
                    }
                    input{
                        padding-left: 18%;
                        width: 40%;
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }
                }
            }
        }
        .mainbuttoncontainer{
            margin-top: 3rem;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            button{
                border: 2px solid #cbba9c;
                padding: 8px;
                transition: 0.3s ease;
                div{
                    font-size: 1.2rem;
                    padding: 8px;
                    color: #cbba9c;
                    transition: 0.3s ease;
                }

                &:hover{
                    background-color: #cbba9c;

                    div{
                        color: #fff;
                        border: 2px solid #fff;
                    }
                }
            }
        }
    }
}

// .costumerreviewsection{
//     padding: 4rem 1rem;

//     .reviewinformationcontainer{
//         margin: 0 auto;
//         border-top: 1px solid #000;
//         h1{
//             font-size: 150%;
//             line-height: 1.4rem;
//             text-align: center;
//             font-weight: 700;
//             margin-top: 2rem;
//         }
//     }
// }